@page "/kendoweather"
@using RCLib.Shared.Services
@inject WeatherForecastService ForecastService
@addTagHelper Kendo.Blazor.Components.Grid.*, Kendo.Blazor

<h1>Kendo Weather Forecast</h1>

@if (GridData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <KendoGrid Data=@GridData Sortable=true Pageable=true PageSize=10>
            <KendoGridColumns>
                <KendoGridColumn Field="TemperatureC" Title="Temp. C" />
                <KendoGridColumn Field="Summary" />
            </KendoGridColumns>
        </KendoGrid>
}

@functions {
    public IEnumerable<WeatherForecast> GridData { get; set; }

    protected override async Task OnInitAsync()
    {
        DateTime startDate = DateTime.Now;
        var rng = new Random();
        GridData = Enumerable.Range(1, 50).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = rng.Next(-20, 55),
            Summary = "TEST"
        }).ToArray();
    }
}
