@page "/clock"

<h1>Clock</h1>

<p>Current Time: @CurrentTimestamp?.ToString("hh:mm:ss tt")</p>

<button class="btn btn-success" onclick="@StartTimer">Start</button>
<button class="btn btn-danger" onclick="@StopTimer">Stop</button>

@functions {
    DateTime? CurrentTimestamp;
    System.Timers.Timer Timer;

    void StartTimer()
    {
        Timer = new System.Timers.Timer(1000);
        Timer.Elapsed += TimerElapsed;
        Timer.AutoReset = true;
        Timer.Enabled = true;
    }
    void StopTimer()
    {
        Timer.Stop();
        Timer.Dispose();
    }

    void TimerElapsed(object source, System.Timers.ElapsedEventArgs e) {

        Invoke(() => {
            CurrentTimestamp = e.SignalTime;
            StateHasChanged();
        });
    }
}
