@addTagHelper RCLib.Shared.Components.*, RCLib.Shared

@{
    ViewData["Title"] = "Weather";
}
<h1>Weather Data From MVC</h1>

<p>This is loading the FetchData Razor Component inside of a MVC View and it is interactive.</p>

<code>This is currently broken and being worked on!</code>

<hr />
<counter></counter>
<div class="rcWrapper">
        <FetchData></FetchData>
</div>