

@{
    ViewData["Title"] = "Weather";
}
<h1>Weather Data From MVC</h1>

<p>This is loading the FetchData Razor Component inside of a MVC View and it is interactive.</p>


<div class="rcWrapper">
    <fetchdata></fetchdata>
</div>